@media (min-width: 700px) {
    .wrapper {
        display: flex;
        top: 64px;
        position: relative;
        height: calc(100% - 64px);
        width: 100%;
        flex: auto;
        flex-direction: column;
    }
}

main {
    position: fixed;
    height: calc(100% - 185px);
    width: 100%;
    padding: 1em;
    overflow-y: scroll;
}

@media (min-width: 700px) {
    main {
        flex: 1;
        margin-left: 260px;
        height: calc(100% - 64px);
        width: calc(100% - 220px);
    }
}
